html:-webkit-full-screen-ancestor{background-color:inherit;}
html:-moz-full-screen-ancestor{background-color:inherit;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,
input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,
figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section{display:block;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
q:before,q:after{content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}
a{cursor:pointer;text-decoration:none;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a:hover{text-decoration:none;}
p{margin:0;padding:0;}
html,body{width:100%;height:100%;overflow:hidden;}
html:-webkit-full-screen-ancestor {
    background-color: inherit;
}
html:-moz-full-screen-ancestor {
    background-color: inherit;
}
body{
    position:relative;
    font-size: 0.7em;
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    background-color: #e2e2e2;
}
#fakeLoader{
    background-color:#13daec;
}
.menu {
    min-width: 100px;
    width: 50%;
    max-width: 320px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    z-index: 999;
}
.menu .menu-content{
    position:relative;
    width:100%;
    background-color: #fafafa;
}
.menu .menu-footer{
    position: relative;
    width: 100%;
    height: 25px;
    line-height: 23px;
    color: #666;
    font-size: 1em;
    text-align: left;
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    background-color: #fafafa;
    overflow: hidden;
}
.menu .menu-footer .menu-text{
    position: relative;
    width: 90%;
    height: 25px;
    margin-left: 10px;
    overflow: hidden;
}
.menu-content .menu-wrapper,
.menu-content .menu-wrapper .menu-slide{
    width:100%;
    height:auto;
}
.menu-content .menu-wrapper .menu-slide .menu-title{
    position:relative;
    font-size: 1.7em;
    width: 100%;
    height: 30px;
    color: #fff;
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    padding-left: 3px;
    margin-top: 15px;
    margin-bottom: 3px;
}
.menu-content .menu-wrapper .menu-slide .menu-title a {
    color: #666;
}
.menu-content .menu-wrapper .menu-slide .menu-title .fa-home {
    color: #FF2B22;
    margin-left: 10px;
    margin-right: 6px;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list{
    position: relative;
    list-style-type: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item{
    position:relative;
    list-style-type: none;
    float: left;
    text-align: left;
    width: 80%;
    height: 40px;
    border-bottom: 1px dotted #888;
    line-height: 39px;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 15px;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item a{
    position:relative;
    color: #666;
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 10px;
    background-color: #fafafa;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item a:active{
    color: #FF2B22;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item a .cltxt {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    overflow: hidden;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item a .num {
    position: relative;
    display: block;
    float: left;
    font-size: 0.7em;
    font-style: normal;
    color: #fafafa;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 1.6em;
    background-color: #e2e2e2;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    overflow: hidden;
    margin-top: 12px;
    margin-left: 4px;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item i.fa-dot-circle-o,
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item i.fa-home{
    position: relative;
    color: #FF2B22;
    display: block;
    float: left;
    font-size: 1.2em;
    margin-top: 12px;
    margin-right: 5px;
}
.reveal{
    position:relative;
    color:#4d4d4d;
    font-family: Verdana,"Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-size: 0.65em;
    font-weight:normal;
    width:100%;
    height:100%;
    overflow:hidden;
    -ms-touch-action:none;
    touch-action:none;
}
html,body,.reveal div,.reveal span,.reveal applet,.reveal object,
.reveal iframe,.reveal h1,.reveal h2,.reveal h3,.reveal h4,.reveal h5,
.reveal h6,.reveal p,.reveal blockquote,.reveal pre,.reveal a,
.reveal abbr,.reveal acronym,.reveal address,.reveal big,.reveal cite,
.reveal code,.reveal del,.reveal dfn,.reveal em,.reveal img,.reveal ins,
.reveal kbd,.reveal q,.reveal s,.reveal samp,.reveal small,
.reveal strike,.reveal strong,.reveal sub,.reveal sup,.reveal tt,
.reveal var,.reveal b,.reveal u,.reveal center,.reveal dl,.reveal dt,
.reveal dd,.reveal ol,.reveal ul,.reveal li,.reveal fieldset,
.reveal form,.reveal label,.reveal legend,.reveal table,.reveal caption,
.reveal tbody,.reveal tfoot,.reveal thead,.reveal tr,.reveal th,.reveal td,
.reveal article,.reveal aside,.reveal canvas,.reveal details,.reveal embed,
.reveal figure,.reveal figcaption,.reveal footer,.reveal header,.reveal hgroup,
.reveal menu,.reveal nav,.reveal output,.reveal ruby,.reveal section,
.reveal summary,.reveal time,.reveal mark,.reveal audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.reveal img, .reveal video, .reveal iframe{
    max-width: 100%;
    max-height: 100%;
}
.reveal:after {
    content: '';
    font-style: italic;
}
.reveal iframe {z-index: 1;}
.reveal article,.reveal aside,.reveal details,.reveal figcaption,
.reveal figure,.reveal footer,.reveal header,.reveal hgroup,
.reveal menu,.reveal nav,.reveal section{display:block}
.reveal.slide section {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.reveal.linear section {
    font-family: "Microsoft YaHei",Verdana,Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
}
.reveal a{
    position: relative;
    color:#13daec;
    text-decoration:none;
    -webkit-transition:color .15s ease;
    transition:color .15s ease;
    border:none;
}
.reveal a:hover{
    color:#71e9f4;
    text-decoration:none;
    text-shadow:none;
    border:none;
}
.reveal dt {font-weight: bold;}
.reveal dd {margin-left: 40px;}
.reveal q,.reveal blockquote {quotes: none;}
.reveal strong,.reveal b {font-weight: bold;}
.reveal em{font-style:italic;}
.reveal ol{list-style-type:decimal;}
.reveal ul{list-style-type:disc;}
.reveal ul ul{list-style-type:square;}
.reveal ul ul ul{list-style-type:circle;}
.reveal ol,.reveal dl,.reveal ul{
    width: 100%;
    display:inline-block;
    text-align:left;
}
.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 5px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255,255,255,0.05);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
.reveal blockquote p:first-child,.reveal blockquote p:last-child {
    display: inline-block;
}
.reveal sup {vertical-align: super;}
.reveal sub {vertical-align: sub;}
.reveal small {
    display: inline-block;
    font-size: 0.65em;
    line-height: 1.2em;
    vertical-align: top;
}
.reveal small * {vertical-align: top;}
.reveal q {font-style: italic;}
.reveal h1,.reveal h2,.reveal h3,
.reveal h4,.reveal h5,.reveal h6{
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-weight:bold;
    text-transform:uppercase;
}
.reveal .slides {
    position: absolute;
    top: 0; left: 0;
    margin: auto;
    overflow: visible;
    z-index: 1;
    text-align: left;
    -webkit-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 40%;
    perspective-origin: 50% 40%;
}
.swiper-pagination{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 60px;
    background: rgba(0,0,0,0.06);
    z-index: 10;
}
.swiper-pagination-progress .swiper-pagination-progressbar{
    background-color: #13daec;
}
.swiper-bar{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 60px;
    background: #fafafa;
    border-top-left-radius: 8px;
    -webkit-top-left-radius: 8px;
    -moz-top-left-radius: 8px;
    z-index: 100;
}
.swiper-bar .swiper-icons{
    position: relative;
    width: 48px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-bar .swiper-button-cla,
.swiper-bar .swiper-button-one{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    display:block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 10;
}
.swiper-bar .swiper-button-cla .controls-cla,
.swiper-bar .swiper-button-one .controls-icon{
    position: relative;
    height:28px;
    width:28px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    display:block;
    border:2px solid #888;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    background: #fff;
}
.swiper-bar .swiper-button-cla .controls-cla:before{
    content:'';
    height:2px;
    width:16px;
    background:#888;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    display:block;
    position:absolute;
    top:8px; left:6px;
    box-shadow:0 5px #888, 0 10px #888;
    -webkit-box-shadow:0 5px #888, 0 10px #888;
    -moz-box-shadow:0 5px #888, 0 10px #888;
}
.swiper-bar .swiper-button-one .controls-icon:before{
    content:'';
    height:0;
    width:0;
    display:block;
    border:7px transparent solid;
    border-left-width:0;
    border-right-color:#888;
    position:absolute;
    top:7px; left:12px;
}
.swiper-bar .swiper-button-one .controls-icon:after{
    content:'';
    height:14px;
    width:2px;
    display:block;
    background-color:#888;
    position:absolute;
    top:7px; left:9px;
}
.swiper-bar .swiper-button-next{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    display:block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 10;
}
.swiper-bar .swiper-button-prev{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    display:block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 10;
}
.swiper-bar .swiper-button-next .controls-arrow,
.swiper-bar .swiper-button-prev .controls-arrow{
    position: relative;
    height:28px;
    width:28px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    display:block;
    border:2px solid #888;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    background: #fff;
}
.swiper-bar .swiper-button-next .controls-arrow:before{
    content:'';
    height:0;
    width:0;
    display:block;
    border:8px transparent solid;
    border-right-width:0;
    border-left-color:#888;
    position:absolute;
    top:6px; left:12px;
}
.swiper-bar .swiper-button-prev .controls-arrow:before{
    content:'';
    height:0;
    width:0;
    display:block;
    border:8px transparent solid;
    border-left-width:0;
    border-right-color:#888;
    position:absolute;
    top:6px; left:8px;
}
.swiper-bar .swiper-button-next.swiper-button-disabled,
.swiper-bar .swiper-button-prev.swiper-button-disabled{
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
}
.swiper-bar .swiper-text{
    position: relative;
    float: left;
    width:48px;
    height:19px;
    line-height: 19px;
    font-size: 0.6em;
    color: #444;
    text-align: center;
}
.reveal .slides .Sidebar{
    display: none;
}
.reveal .slides .content{
    position:relative;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    color: #4d4d4d;
    padding: 0;
}
.reveal .slides .tailtips-top{
    display: none;
}
.reveal .slides .tailtips-bottom{
    display: none;
}
.reveal .slides .home{
    display: none;
}
.reveal .slides .retop{
    display: none;
}
.reveal .slides .content ul{width:573px;margin-left:25px;}
.reveal .slides .content ul li {list-style: disc;}
.reveal .slides .content ul li p{text-indent: 0px;}
.reveal .slides .content .post_mode,
.reveal .slides .content .post_mode .swiper-slide {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    height: auto;
    overflow:hidden;
    padding: 0;
    margin: 0;
}
.reveal .slides .content .post_mode .titles {
    display: none;
}
.reveal .slides .content .post_mode .titles .post_title {
    position: relative;
    float: left;
    color: #13daec;
    width: auto;
    height: auto;
    line-height: 33px;
    text-align: left;
    font-size: 1.6em;
    font-family: Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.reveal .slides .content .post_mode .titles .time-share {
    display: none;
}
.reveal .slides .content .post_mode .swiper-slide {
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.reveal .slides .content .post_mode hr{
    clear: both;
    background: url(../../img/bx2.png) repeat-x;
    height: 3px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 12px 0;
}
.reveal .slides .content .post_mode ul{margin:0 0 9px 25px;}
.reveal .slides .content .post_mode ul li{
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-size: 1.1em;
}
.reveal .slides .content .post_mode h1{display: block;font-size:0.60em;margin-bottom:12px;}
.reveal .slides .content .post_mode h2{display: block;font-size:0.55em;margin-bottom:12px;}
.reveal .slides .content .post_mode h3{display: block;font-size:0.50em;margin-bottom:12px;}
.reveal .slides .content .post_mode h4{display: block;font-size:0.45em;margin-bottom:12px;}
.reveal .slides .content .post_mode h5{display: block;font-size:0.40em;margin-bottom:12px;}
.reveal .slides .content .post_mode h6{display: block;font-size:0.35em;margin-bottom:12px;}
.reveal .slides .content .post_mode p{
    display: block;
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-size: 0.68em;
    margin-bottom: 12px;
    line-height: 28px;
    text-indent: 30px;
}
.reveal .slides .content .post_mode p.item{
    font-size: 0.68em;
    line-height: 1.5;
    text-indent: 0;
    margin-bottom: 0;
}
.reveal .slides .content .post_mode li p{
    display: block;
    margin-bottom: 5px;
    text-indent: 0px;
}
.reveal .slides .content .post_mode code{
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 0.8em;
    background-color: #4d4d4d;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0 5px;
    margin: 0 3px;
}
.reveal .slides .content .post_mode pre{
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 0.7em;
    background-color: #fafafa;
    border-left-width: 6px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    padding: 6px 13px 10px 13px;
    overflow: auto;
    margin:15px 0 15px 0;
}
.reveal .slides .content .post_mode pre code{
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    line-height: 19px;
    font-size: 0.7em;
    background-color: transparent;
    display: block;
    border: none;
    padding: 0;
}
.reveal .slides .content .post_mode img{
    width: 100%;
    height: 100%;
    max-width:565px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    background-color: #fafafa;
}
.reveal .slides .content .post_mode img{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
}
.reveal .slides .content ul.pro_detail{
    position: relative;
    display: block;
    width: 102%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .pro_detail_to{
    position: relative;
    width: 48%;
    float: left;
    display: block;
    background-color: #fafafa;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 0;
}
.reveal .slides .content .post_mode .zk-item {
    width: 100%;
    height: 100%;
    padding-bottom: 8px;
}
.reveal .slides .content .post_mode .zk-item .img-area {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq {
    position: absolute;
    width: auto;
    height: auto;
    right: 0; top: 0;
    z-index: 1;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t {
    opacity: 0.9;
    height: 35px;
    font-weight: normal;
    background-color: #ff472b;
    border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    padding: 2px 5px 2px 5px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t .lq-t-d1 {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.5em;
    height: auto;
    color: #fff;
    text-align: center;
    margin-top: 1px;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t .lq-t-d2 {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.1em;
    height: auto;
    color: #fff;
    text-align: center;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t .lq-t-d2 em {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-b {
    display: none;
}
.reveal .slides .content .post_mode .zk-item .img-area a.alink {
    position:relative;
    display: block;
    width:100%;
    height:0px;
    padding-bottom:100%;
}
.reveal .slides .content .post_mode .zk-item .img-area img {
    position: relative;
    display: block;
    width:100%;
    height:auto;
    max-width: 400px;
    max-height: 400px;
}
.reveal .slides .content .post_mode .zk-item .title-area {
    height: 18px;
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 5px 5px 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .title-area .post-free {
    float: left;
    width: auto;
    height: 15px;
    line-height: 1.5em;
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    background-color: #ff472b;
    border-radius: 2px;
    padding: 0 2px 0 1px;
    margin-right: 3px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .raw-price-area {
    color: #666;
    height: 22px;
    font-size: 1.1em;
    line-height: 22px;
    padding: 3px 5px 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .raw-price-area .sold {
    font-size: 0.95em;
    line-height: 22px;
    float: right
}
.reveal .slides .content .post_mode .zk-item .info {
    height: auto;
    padding: 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .info .price-area {
    float: left;
    width: 64%;
    height: 25px;
    color: #FF2B22;
    padding-left: 5px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .info .price-area .price {
    position: relative;
    float: left;
    height: 25px;
    line-height: 2.25em;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.decimal,
.reveal .slides .content .post_mode .zk-item .info .price-area em.number-font {
    position: relative;
    float: left;
    height: 25px;
    line-height: 27px;
    font-weight: 700;
    font-family: Arial;
    font-style: normal;
    margin: 0;
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.decimal{
    margin-right: 3px;
}
.reveal .slides .content .post_mode .zk-item .info .price-area i {
    display: none;
}
.reveal .slides .content .post_mode .zk-item .info .price-area .volume-price{
    float: left;
    width: auto;
    height: 15px;
    line-height: 1.5em;
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    background-color: #ff472b;
    border-radius: 2px;
    padding: 0 2px 0 2px;
    margin-top: 7px;
    margin-right: 3px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.number-font {
    height: 27px;
    line-height: 30px;
    font-size: 1.9em;
    padding-left: 2px
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.decimal {
    height: 27px;
    line-height: 2.25em;
    font-size: 1.3em;
}
.reveal .slides .content .post_mode .zk-item .info .platform-area {
    display: block;
    float: left;
    width: 32%;
    height: 25px;
    font-size: 1.0em;
    line-height: 20px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .info .platform-area span{
    display: block;
    float: right;
    height: 25px;
    font-size: 1.01em;
    line-height: 2.6;
    margin-right: 3px;
}
.reveal .slides .content .post_mode .zk-item:hover .img-area .bottom-info {
    opacity: 1;
}
.reveal .slides .content .post_mode .zk-item .info .platform-area img {
    position: relative;
    float: right;
    top: 6px;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.reveal .slides .content .post_mode .zk-item .info .buy-area {
    display: none;
}
.hljs {
    color: #dcdcdc;
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 0.35em;
    background-color: #3f3f3f;
    border: 1px solid #2a2a2a;
    border-left-width: 6px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    padding: 6px 13px 10px 13px;
    display: block;
    overflow-x: auto;
    margin:15px 0 15px 0;
}
.hljs-keyword,.hljs-selector-tag,.hljs-tag {
    color: #e3ceab;
}
.hljs-template-tag {
    color: #dcdcdc;
}
.hljs-number {
    color: #8cd0d3;
}
.hljs-variable,.hljs-template-variable,
.hljs-attribute {
    color: #efdcbc;
}
.hljs-literal {
    color: #efefaf;
}
.hljs-subst {
    color: #8f8f8f;
}
.hljs-title,.hljs-name,.hljs-selector-id,
.hljs-selector-class,.hljs-section,.hljs-type {
    color: #efef8f;
}
.hljs-symbol,.hljs-bullet,.hljs-link {
    color: #dca3a3;
}
.hljs-deletion,.hljs-string,
.hljs-built_in,.hljs-builtin-name {
    color: #cc9393;
}
.hljs-addition,.hljs-comment,
.hljs-quote,.hljs-meta {
    color: #7f9f7f;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}