html:-webkit-full-screen-ancestor{background-color:inherit;}
html:-moz-full-screen-ancestor{background-color:inherit;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,
input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,
figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section{display:block;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
q:before,q:after{content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}
a{cursor:pointer;text-decoration:none;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a:hover{text-decoration:none;}
p{margin:0;padding:0;}
html,body{width:100%;height:100%;overflow:hidden;}
html:-webkit-full-screen-ancestor {
    background-color: inherit;
}
html:-moz-full-screen-ancestor {
    background-color: inherit;
}
body{
    position:relative;
    font-size: 0.7em;
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    background-color: #2e2e2e;
}
.menu {
    opacity: 0.9;
    min-width: 100px;
    width: 50%;
    max-width: 320px;
    background-color: #444;
    color: #999;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.menu-button {
    position: absolute;
    opacity: 0.9;
    top: 0px; left: -8px;
    width: 60px;
    height: 50px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #444;
    border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    z-index: 999;
}
.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}
.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}
.bar {
    position: absolute;
    top: 9px; left: 18px;
    width: 35px;
    height: 35px;
}
.menu-button .bar:before{
    content:'';
    height:5px;
    width:30px;
    background:#999;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    display:block;
    position:absolute;
    top:2px; left:0;
    box-shadow:0 11px #999, 0 22px #999;
    -webkit-box-shadow:0 11px #999, 0 22px #999;
    -moz-box-shadow:0 11px #999, 0 22px #999;
}
.cross .bar:before,
.cross .bar:after{
    content:'';
    height:5px;
    width:36px;
    display:block;
    background:#999;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    position:absolute;
    top:13px; left:0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
}
.cross .bar:after{
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
}
.menu-content{
    position:relative;
    width:100%;
    height:95%;
    padding: 20px 12px 20px 15px;
}
.menu-content .menu-wrapper,
.menu-content .menu-wrapper .menu-slide{
    width:100%;
    height:100%;
}
.menu-content .menu-wrapper .menu-slide .menu-logo{
    position:relative;
    width:100%;
    height:59px;
    margin-top: 5px;
    margin-bottom: 6px;
}
.menu-content .menu-wrapper .menu-slide .menu-logo a{
    position:relative;
    display: block;
    top:0px; left:35px;
    width:55px;
    height:55px;
    border:2px solid #fff;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    background-image: url("../../img/logo.png");
    background-size: 55px 55px;
    animation:8.5s linear 0s normal none infinite rotate;
    -webkit-animation:8.5s linear 0s normal none infinite rotate;
}
.menu-content .menu-wrapper .menu-slide .menu-title{
    position:relative;
    font-size: 2.3em;
    width:100%;
    height: 37px;
    color: #13daec;
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-weight: bold;
    line-height: 37px;
    text-align: left;
    padding-left: 10px;
}
.menu-content .menu-wrapper .menu-slide .menu-tagline{
    position: relative;
    width: 87%;
    height: auto;
    color: #8b8b8b;
    text-align: left;
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 10px;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list{
    position: relative;
    list-style-type: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item{
    position:relative;
    list-style-type: none;
    float: left;
    text-align: left;
    width: 84%;
    height: 35px;
    line-height: 33px;
    font-size: 1.25em;
    margin-left: 10px;
    margin-bottom: 8px;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item a{
    position:relative;
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 10px;
    background-color:#555;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list li.nav-item a:active{
    background-color:#666;
}
.menu-content .menu-wrapper .menu-slide ul.nav-list .separator{
    font-weight: 100;
    color: #E54028;
    letter-spacing: -3px;
    margin-right: 6px;
}
.reveal{
    position:relative;
    color:#eeeeee;
    font-family: Verdana,"Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-size: 0.65em;
    font-weight:normal;
    width:100%;
    height:100%;
    overflow:hidden;
    -ms-touch-action:none;
    touch-action:none;
}
html,body,.reveal div,.reveal span,.reveal applet,.reveal object,
.reveal iframe,.reveal h1,.reveal h2,.reveal h3,.reveal h4,.reveal h5,
.reveal h6,.reveal p,.reveal blockquote,.reveal pre,.reveal a,
.reveal abbr,.reveal acronym,.reveal address,.reveal big,.reveal cite,
.reveal code,.reveal del,.reveal dfn,.reveal em,.reveal img,.reveal ins,
.reveal kbd,.reveal q,.reveal s,.reveal samp,.reveal small,
.reveal strike,.reveal strong,.reveal sub,.reveal sup,.reveal tt,
.reveal var,.reveal b,.reveal u,.reveal center,.reveal dl,.reveal dt,
.reveal dd,.reveal ol,.reveal ul,.reveal li,.reveal fieldset,
.reveal form,.reveal label,.reveal legend,.reveal table,.reveal caption,
.reveal tbody,.reveal tfoot,.reveal thead,.reveal tr,.reveal th,.reveal td,
.reveal article,.reveal aside,.reveal canvas,.reveal details,.reveal embed,
.reveal figure,.reveal figcaption,.reveal footer,.reveal header,.reveal hgroup,
.reveal menu,.reveal nav,.reveal output,.reveal ruby,.reveal section,
.reveal summary,.reveal time,.reveal mark,.reveal audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.reveal img, .reveal video, .reveal iframe{
    max-width: 100%;
    max-height: 100%;
}
.reveal:after {
    content: '';
    font-style: italic;
}
.reveal iframe {z-index: 1;}
.reveal article,.reveal aside,.reveal details,.reveal figcaption,
.reveal figure,.reveal footer,.reveal header,.reveal hgroup,
.reveal menu,.reveal nav,.reveal section{display:block}
.reveal.slide section {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.reveal.linear section {
    font-family: "Microsoft YaHei",Verdana,Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
}
.reveal a{
    position: relative;
    color:#13daec;
    text-decoration:none;
    -webkit-transition:color .15s ease;
    transition:color .15s ease;
    border:none;
}
.reveal a:hover{
    color:#71e9f4;
    text-decoration:none;
    text-shadow:none;
    border:none;
}
.reveal dt {font-weight: bold;}
.reveal dd {margin-left: 40px;}
.reveal q,.reveal blockquote {quotes: none;}
.reveal strong,.reveal b {font-weight: bold;}
.reveal em{font-style:italic;}
.reveal ol{list-style-type:decimal;}
.reveal ul{list-style-type:disc;}
.reveal ul ul{list-style-type:square;}
.reveal ul ul ul{list-style-type:circle;}
.reveal ol,.reveal dl,.reveal ul{
    width: 100%;
    display:inline-block;
    text-align:left;
}
.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 5px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255,255,255,0.05);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
.reveal blockquote p:first-child,.reveal blockquote p:last-child {
    display: inline-block;
}
.reveal sup {vertical-align: super;}
.reveal sub {vertical-align: sub;}
.reveal small {
    display: inline-block;
    font-size: 0.65em;
    line-height: 1.2em;
    vertical-align: top;
}
.reveal small * {vertical-align: top;}
.reveal q {font-style: italic;}
.reveal h1,.reveal h2,.reveal h3,
.reveal h4,.reveal h5,.reveal h6{
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-weight:bold;
    text-transform:uppercase;
}
.reveal .slides {
    position: absolute;
    top: 0; left: 0;
    margin: auto;
    overflow: visible;
    z-index: 1;
    text-align: left;
    -webkit-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 40%;
    perspective-origin: 50% 40%;
}
.swiper-pagination{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 10;
}
.swiper-pagination-progress .swiper-pagination-progressbar{
    background-color: #13daec;
}
.swiper-button-next{
    position: absolute;
    width: auto;
    height: auto;
    color:#13daec;
    cursor: pointer;
    opacity: 0.8;
    bottom: 1.4em;
    right: 0.5em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 10;
}
.swiper-button-next .controls-arrow{
    margin-left: 8px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-button-prev{
    position: absolute;
    width: auto;
    height: auto;
    color:#13daec;
    opacity: 0.8;
    cursor: pointer;
    bottom: 1.2em;
    right: 4.5em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 10;
}
.swiper-button-prev .controls-arrow{
    margin-left: 8px;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    opacity: 0.2;
    cursor: auto;
    pointer-events: none;
}
.controls-arrow{
    position: relative;
    width: 2.2em;
    height: 3.7em;
    padding: 0;
    margin: 0;
}
.controls-arrow:before,
.controls-arrow:after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 2.0em;
    height: 0.37em;
    border-radius: 0.25em;
    background-color: currentColor;
    -webkit-transition: all 0.15s ease, background-color 0.8s ease;
    transition: all 0.15s ease, background-color 0.8s ease;
    -webkit-transform-origin: 0.2em 50%;
    -ms-transform-origin: 0.2em 50%;
    transform-origin: 0.2em 50%;
    will-change: transform;
 }
.controls-arrow:before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
    -ms-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
}
.controls-arrow:after {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
    -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
}
.reveal .slides .Sidebar{
    display: none;
}
.reveal .slides .content{
    position:relative;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    color: #ccc;
    padding: 0;
}
.reveal .slides .tailtips-top{
    display: none;
}
.reveal .slides .tailtips-bottom{
    display: none;
}
.reveal .slides .home{
    display: none;
}
.reveal .slides .retop{
    display: none;
}
.reveal .slides .content ul{width:573px;margin-left:25px;}
.reveal .slides .content ul li {list-style: disc;}
.reveal .slides .content ul li p{text-indent: 0px;}
.reveal .slides .content .post_mode,
.reveal .slides .content .post_mode .swiper-slide {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    height: auto;
    overflow:hidden;
    padding: 0;
    margin: 0;
}
.reveal .slides .content .post_mode .titles {
    display: none;
}
.reveal .slides .content .post_mode .titles .post_title {
    position: relative;
    float: left;
    color: #13daec;
    width: auto;
    height: auto;
    line-height: 33px;
    text-align: left;
    font-size: 1.6em;
    font-family: Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.reveal .slides .content .post_mode .titles .time-share {
    display: none;
}
.reveal .slides .content .post_mode .swiper-slide {
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.reveal .slides .content .post_mode hr{
    clear: both;
    background: url(../../img/bx2.png) repeat-x;
    height: 3px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 12px 0;
}
.reveal .slides .content .post_mode ul{margin:0 0 9px 25px;}
.reveal .slides .content .post_mode ul li{
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-size: 1.1em;
}
.reveal .slides .content .post_mode h1{display: block;font-size:0.60em;margin-bottom:12px;}
.reveal .slides .content .post_mode h2{display: block;font-size:0.55em;margin-bottom:12px;}
.reveal .slides .content .post_mode h3{display: block;font-size:0.50em;margin-bottom:12px;}
.reveal .slides .content .post_mode h4{display: block;font-size:0.45em;margin-bottom:12px;}
.reveal .slides .content .post_mode h5{display: block;font-size:0.40em;margin-bottom:12px;}
.reveal .slides .content .post_mode h6{display: block;font-size:0.35em;margin-bottom:12px;}
.reveal .slides .content .post_mode p{
    display: block;
    font-family: "Microsoft YaHei",Tahoma,Monaco,"DejaVu Sans Mono",Arial;
    font-size: 0.68em;
    margin-bottom: 12px;
    line-height: 28px;
    text-indent: 30px;
}
.reveal .slides .content .post_mode p.item{
    font-size: 0.68em;
    line-height: 1.5;
    text-indent: 0;
    margin-bottom: 0;
}
.reveal .slides .content .post_mode li p{
    display: block;
    margin-bottom: 5px;
    text-indent: 0px;
}
.reveal .slides .content .post_mode code{
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 0.8em;
    background-color: #333;
    border: 1px solid #2a2a2a;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0 5px;
    margin: 0 3px;
}
.reveal .slides .content .post_mode pre{
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 0.7em;
    background-color: #444;
    border: 1px solid #2a2a2a;
    border-left-width: 6px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    padding: 6px 13px 10px 13px;
    overflow: auto;
    margin:15px 0 15px 0;
}
.reveal .slides .content .post_mode pre code{
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    line-height: 19px;
    font-size: 0.7em;
    background-color: transparent;
    display: block;
    border: none;
    padding: 0;
}
.reveal .slides .content .post_mode img{
    width: 100%;
    height: 100%;
    max-width:565px;
    border: 1px solid #222;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    background-color: #444;
}
.reveal .slides .content .post_mode img{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
}
.reveal .slides .content ul.pro_detail{
    position: relative;
    display: block;
    width: 102%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .pro_detail_to{
    position: relative;
    width: 48%;
    float: left;
    display: block;
    background-color: #444;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 0;
}
.reveal .slides .content .post_mode .zk-item {
    width: 100%;
    height: 100%;
    padding-bottom: 8px;
}
.reveal .slides .content .post_mode .zk-item .img-area {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq {
    position: absolute;
    width: auto;
    height: auto;
    right: 0; top: 0;
    z-index: 1;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t {
    height: 37px;
    font-weight: normal;
    background-color: #E54028;
    border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    padding: 2px 5px 2px 5px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t .lq-t-d1 {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.65em;
    height: auto;
    color: #fff;
    text-align: center;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t .lq-t-d2 {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.1em;
    height: auto;
    color: #fff;
    padding-top: 0;
    text-align: center;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-t .lq-t-d2 em {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
}
.reveal .slides .content .post_mode .zk-item .img-area .lq .lq-b {
    display: none;
}
.reveal .slides .content .post_mode .zk-item .img-area a.alink {
    position:relative;
    display: block;
    width:100%;
    height:0px;
    padding-bottom:100%;
}
.reveal .slides .content .post_mode .zk-item .img-area img {
    position: relative;
    display: block;
    width:100%;
    height:auto;
    max-width: 400px;
    max-height: 400px;
}
.reveal .slides .content .post_mode .zk-item .title-area {
    height: 18px;
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 5px 5px 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .title-area .post-free {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    background-color: #E54028;
    border-radius: 2px;
    padding: 0 2px 0 1px;
    margin-right: 3px;
}
.reveal .slides .content .post_mode .zk-item .raw-price-area {
    height: 22px;
    font-size: 1.1em;
    line-height: 22px;
    padding: 3px 5px 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .raw-price-area .sold {
    font-size: 0.9em;
    line-height: 22px;
    float: right
}
.reveal .slides .content .post_mode .zk-item .info {
    height: auto;
    padding: 0;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .info .price-area {
    float: left;
    width: 64%;
    height: 25px;
    color: #FF2B22;
    padding-left: 5px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .info .price-area .price {
    position: relative;
    float: left;
    height: 25px;
    line-height: 2.25em;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.decimal,
.reveal .slides .content .post_mode .zk-item .info .price-area em.number-font {
    position: relative;
    float: left;
    height: 25px;
    line-height: 27px;
    font-weight: 700;
    font-family: Arial;
    font-style: normal;
    margin: 0;
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.decimal{
    margin-right: 3px;
}
.reveal .slides .content .post_mode .zk-item .info .price-area i {
    position: relative;
    float: left;
    width: 40px;
    height: 16px;
    background: url(../../img/quanhoujia.png) center no-repeat;
    background-size: 40px 16px;
    margin-top: 7px;
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.number-font {
    height: 27px;
    line-height: 30px;
    font-size: 1.9em;
    padding-left: 2px
}
.reveal .slides .content .post_mode .zk-item .info .price-area em.decimal {
    height: 27px;
    line-height: 2.25em;
    font-size: 1.3em;
}
.reveal .slides .content .post_mode .zk-item .info .platform-area {
    display: block;
    float: left;
    width: 32%;
    height: 25px;
    font-size: 1.0em;
    line-height: 20px;
    overflow: hidden;
}
.reveal .slides .content .post_mode .zk-item .info .platform-area span{
    display: block;
    float: right;
    height: 25px;
    font-size: 1.01em;
    line-height: 2.6;
    margin-right: 3px;
}
.reveal .slides .content .post_mode .zk-item:hover .img-area .bottom-info {
    opacity: 1;
}
.reveal .slides .content .post_mode .zk-item .info .platform-area img {
    position: relative;
    float: right;
    top: 6px;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.reveal .slides .content .post_mode .zk-item .info .buy-area {
    display: none;
}
.hljs {
    color: #dcdcdc;
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 0.35em;
    background-color: #3f3f3f;
    border: 1px solid #2a2a2a;
    border-left-width: 6px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    padding: 6px 13px 10px 13px;
    display: block;
    overflow-x: auto;
    margin:15px 0 15px 0;
}
.hljs-keyword,.hljs-selector-tag,.hljs-tag {
    color: #e3ceab;
}
.hljs-template-tag {
    color: #dcdcdc;
}
.hljs-number {
    color: #8cd0d3;
}
.hljs-variable,.hljs-template-variable,
.hljs-attribute {
    color: #efdcbc;
}
.hljs-literal {
    color: #efefaf;
}
.hljs-subst {
    color: #8f8f8f;
}
.hljs-title,.hljs-name,.hljs-selector-id,
.hljs-selector-class,.hljs-section,.hljs-type {
    color: #efef8f;
}
.hljs-symbol,.hljs-bullet,.hljs-link {
    color: #dca3a3;
}
.hljs-deletion,.hljs-string,
.hljs-built_in,.hljs-builtin-name {
    color: #cc9393;
}
.hljs-addition,.hljs-comment,
.hljs-quote,.hljs-meta {
    color: #7f9f7f;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}