<meta charset="utf-8">
<meta name="author" content="原子团队">
<title>{{ .Site.Params.SiteTitle }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="keywords" content="刷单不降权,怎么刷单有效果,有效果刷单,安全刷单,安全有效刷单,淘宝刷销量,刷销量降权,刷单平台,淘宝刷单技巧,淘宝刷单,刷单,刷销量凭条,刷销量平台,刷销量团队,刷销量,淘宝刷销量平台,淘宝刷销量团队">
<meta name="description" content="原子团队三步打造爆款不降权,淘宝刷销量团队,是淘宝刷销量,天猫刷销量,专注淘宝刷销量平台,您身边的销量提升专家,不用烦恼如何提高淘宝销量,打造爆款不降权,淘宝爆款,淘宝打造爆款,打造爆款,淘宝刷销量,刷销量降权,刷单平台,淘宝刷单技巧,淘宝刷单,怎么打造爆款,刷销量凭条,刷销量平台,刷销量团队,刷销量,淘宝刷销量平台,怎么刷单有效果,有效果刷单,安全刷单,安全有效刷单">
<link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../../css/fakeLoader.css">
<link rel="stylesheet" type="text/css" href="../../css/application.css">
<link rel="stylesheet" type="text/css" href="../../css/scrollbar.css">
<link rel="stylesheet" type="text/css" href="../../css/deck-v1.css">
<link rel="stylesheet" type="text/css" href="../../css/slides.css">
<link rel="stylesheet" media="screen and (min-width:1100px)" type="text/css" href="../../css/detail.css">
<link rel="stylesheet" media="screen and (min-width:300px) and (max-width:860px)" type="text/css" href="../../css/phone.css">
<script src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    var wwi= $(window).width(), whe= $(window).height();
    if (wwi < 860){
        wwi= wwi*0.95, whe= whe*0.95;
    }else if (wwi < 1465 || whe < 860) {
        wwi= 960, whe= 740;
        $(document).ready(function(){
            $(".logo").css("margin-top", "35px");
            $(".pro_detail_to").css({"margin": "0 22px 20px 2px", "padding": "9px 10px"});
            $(".img-area,.alink,.lazy").css({"width":"259px", "height":"259px"});
            $(".zk-item").css({"width":"259px", "height":"349px"});
        });
    }else if (wwi >= 1465 || whe >= 860){
        wwi= 1129, whe= 800;
    }
    var widths= wwi, heights= whe, conwid= widths-285-25, taiwid= conwid-44;
	var SLConfig = {
        "deck":{
            "id":888888,"slug":"iinrs","title":"如实尚品",
            "description":"「如实尚品」不一样的专业人工导购、精选优质商品、特价、折扣、秒杀、返利、隐藏优惠卷的购物网站",
            "width": widths,"height": heights,"visibility":"all","published_at":"2017-06-01T14:29:13.725Z","sanitize_messages":null,
            "thumbnail_url":"../../img/default-profile.png","view_count":8888,
            "user":{
                "id":88888,"username":"iinrs","name":"lhjok",
                "description":"「如实尚品」您再也不需要从海量商品中挑选满意宝贝而忧心了！这里有专业的淘金手为您精选出最优质、最实惠的产品！相信专业，就在如实",
                "thumbnail_url":"../../img/default-profile.png","paid":false,"pro":false,"lite":false,"team_id":null,
                "settings":{
                    "id":8888,"present_controls":true,"present_upsizing":true,"present_pointer":false,"present_notes":true
                }
            },"background_transition":"fade","transition":"linear","theme_id":null,"theme_font":"league","theme_color":"grey-blue","auto_slide_interval":0,
            "comments_enabled":true,"forking_enabled":true,"rolling_links":false,"center":false,"should_loop":false,"share_notes":null,"slide_number":null,
            "rtl":false,"version":0,"collaborative":null,"deck_user_editor_limit":1,"data_updated_at":null,"font_typekit":null,"font_google":null
        }
    };
    if (wwi < 860){
        $(document).ready(function(){
            $(".content").css({"width": wwi += "px", "height": whe += "px"});
        });
    }else if (wwi > 860){
        $(document).ready(function(){
            $(".content").css("width", conwid += "px");
            $(".Sidebar,.content").css("height", heights += "px");
            $(".tailtips-top,.tailtips-bottom").css("width", taiwid += "px");
        });
    }
</script>
{{ "<!--[if lt IE 10]>" | safeHTML }}
    <style type="text/css">
        html{background: #2e2e2e url(../img/ie_bg.jpg) no-repeat center center;}
        body{display:none;}
    </style>
{{ "<![endif]-->" | safeHTML }}