{{ range .Data.Pages.GroupByPublishDate "2006-01" "asc" }}
    {{ range first 10 .Pages }}
        {{ if isset .Params "index" }}
        <section>
            <div class="tailtips-top"></div>
            {{ partial "sidebar.html" . }}
            <div class="content mCustomScrollbar wrapper" data-mcs-theme="minimal">
                <div class="titles">
                    <div class="post_title">{{ .Title }}</div>
                    <div class="time-share">
                        <div class="time">{{ .Date.Format "2006-01-02" }}</div>
                        <div class="share-weibo">{{ partial "share.html" . }}</div>
                    </div>
                </div>
                <div class="post_mode scroller">{{ .Content }}</div>
            </div>
            <div class="home">
                <a href="{{ $.Site.BaseURL }}" title="回首页">
                    <div class="home-icon">
                        <span class="home1"></span>
                        <span class="home2"></span>
                    </div>
                </a>
            </div>
            <div class="retop">
                <button class="clicktop" title="回顶部">
                    <div class="retop-icon">
                        <span class="retop1"></span>
                    </div>
                </button>
            </div>
            <div class="tailtips-bottom">往下拉，下面还有更多！</div>
        </section>
        {{ end }}
    {{ end }}
{{ end }}