<script src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    var wwi= $(window).width(), whe= $(window).height();
    if (wwi < 860){
        whe= whe*0.995;
        $(document).ready(function(){
            $(".titles,.Sidebar,.tailtips-top,.tailtips-bottom,.home,.retop,.buy-area").remove();
            $(".content").css({"width": wwi += "px", "height": whe += "px"});
        });
        document.write('<script src="../../js/swiper.jquery.min.js"></' + 'script>');
        $(document).ready(function(){
            var swiperH = new Swiper('.swiper-container-h', {
                pagination: '.swiper-pagination-h',
                paginationClickable: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                pagination: '.swiper-pagination',
                paginationType: 'progress',
                spaceBetween: 15
            });
            var swiperV = new Swiper('.swiper-container-v', {
                pagination: '.swiper-pagination-v',
                paginationClickable: true,
                direction: 'vertical',
                slidesPerView: 'auto',
                mousewheelControl: false,
                freeMode: true
            });
        });
    }else if (wwi < 1400 || whe < 860) {
        wwi= 960, whe= 740;
        $(document).ready(function(){
            $(".logo").css("margin-top", "35px");
            $(".pro_detail_to").css({"margin": "0 22px 20px 2px", "padding": "9px 10px"});
            $(".img-area,.alink,.lazy").css({"width":"259px", "height":"259px"});
            $(".zk-item").css({"width":"259px", "height":"349px"});
        });
    }else if (wwi >= 1400 || whe >= 860){
        wwi= 1129, whe= 800;
    }
    if (wwi > 860){
        var widths= wwi, heights= whe, conwid= widths-285-25, taiwid= conwid-44;
        var SLConfig = {
            "deck":{
                "id":888888,"slug":"iinrs","title":"如实尚品",
                "description":"「如实尚品」不一样的专业人工导购、精选优质商品、特价、折扣、秒杀、返利、隐藏优惠卷的购物网站",
                "width": widths,"height": heights,"visibility":"all","published_at":"2017-06-01T14:29:13.725Z","sanitize_messages":null,
                "thumbnail_url":"../../img/default-profile.png","view_count":8888,
                "user":{
                    "id":88888,"username":"iinrs","name":"lhjok",
                    "description":"「如实尚品」您再也不需要从海量商品中挑选满意宝贝而忧心了！这里有专业的淘金手为您精选出最优质、最实惠的产品！相信专业，就在如实",
                    "thumbnail_url":"../../img/default-profile.png","paid":false,"pro":false,"lite":false,"team_id":null,
                    "settings":{
                        "id":8888,"present_controls":true,"present_upsizing":true,"present_pointer":false,"present_notes":true
                    }
                },"background_transition":"fade","transition":"linear","theme_id":null,"theme_font":"league","theme_color":"grey-blue","auto_slide_interval":0,
                "comments_enabled":true,"forking_enabled":true,"rolling_links":false,"center":false,"should_loop":false,"share_notes":null,"slide_number":null,
                "rtl":false,"version":0,"collaborative":null,"deck_user_editor_limit":1,"data_updated_at":null,"font_typekit":null,"font_google":null
            }
        };
        document.write('<script src="../../js/scrollbar.js"></' + 'script>');
        document.write('<script src="../../js/application.js"></' + 'script>');
        document.write('<script src="../../js/deck.js"></' + 'script>');
        $(document).ready(function(){
            $(".content").css("width", conwid += "px");
            $(".Sidebar,.content").css("height", heights += "px");
            $(".tailtips-top,.tailtips-bottom").css("width", taiwid += "px");
        });
    }
</script>